<div class="container my-3">
    <h1>Dettagli:  {{dataFatture.cliente.nomeContatto}} {{dataFatture.cliente.cognomeContatto}}</h1>
    <div class="card text-center">
        <div class="card-body">
          
          
          <h5 class="card-text">Email:</h5> <p>{{dataFatture.id}}</p><hr>
          <h5 class="card-text">Ragione Sociale:</h5> <p>{{dataFatture.data}}</p><hr>
          <h5 class="card-text">Partita IVA:</h5> <p>{{dataFatture.numero}}</p><hr>
          <h5 class="card-text">Tipo Cliente:</h5> <p>{{dataFatture.anno}}</p><hr>
          <h5 class="card-text">P.E.C.:</h5> <p>{{dataFatture.importo}}</p><hr>
          <h5 class="card-text">Tel.:</h5> <p>{{dataFatture.stato.nome}}</p><hr>
         
          
        </div>
        <div class="card-footer text-muted"></div>
      </div>
</div>

